
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #343334;
    overflow-x: hidden;
}

nav {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-content: center;

    height: 120px;
    
}
nav h1{
    width: 100%;

    font-family: 'Oswald';
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    
    color: rgb(255, 165, 30);
}
nav p{
    color: white;
}
.titulo{ 
    text-align: center;
    color: green;
}

.cards {
    width: 100%;
    height: calc(100vh - 120px);
}

main h1, h2{
    text-align: center;
}
main .blocos{
    position: absolute;
    top: 370px;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.473);
    background-color: rgb(241, 241, 241);
    padding: 10px;
    
    font-size: .7rem;
}
main ul.lista{
    text-decoration: none;
    list-style-type: none;  
    text-align: center;

    font-size: 1.1rem;
}
main .lista li{
    padding: 20px;
    font-family: 'Lato';
}

main .bloco1{
    left: -20vw;
    transition: 1s;
}
main .bloco2{
    left: 50vw;
    transition: 1s;
}
main .bloco3{
    left: 120vw;
    transition: 1s;
}

.botoes span{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 100px;
    padding: 50px 0px;
    background-color: #8a8a8a59;
    color: rgb(196, 128, 26);
}
.botoes .go{
    right: 0;
}
.botoes:hover{
    cursor: pointer;
    user-select: none;
}

.basicos {
    background-color: white;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-wrap: wrap;
}
.basicos .title{
    margin: 50px 0px;
    width: 100vw;
}
.basicos .title h1{
    color: rgb(0, 0, 0);
    width: 1000px;
    padding: 20px;
    background-color: rgb(255, 165, 30);
    
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;

    border-radius: 20px;
    font-size: 3rem;
    margin: auto;
}

.basicos .port{
    width: 40vw;
    border-radius: 15px;
    margin: 30px auto;

    box-shadow: 0px 0px 0px 0px black;
    background-color: rgb(194, 193, 255);
    border: 1px solid rgb(58, 108, 216);
    color: rgb(0, 0, 0);
    overflow: hidden;

    padding-bottom: 20px;
}
.basicos .port h2{
    font-size: 2rem;
    padding: 15px;
    width: 100%;
    background-color: rgb(0, 10, 143);
    border: 1px solid rgb(58, 108, 216);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.basicos .mat{
    width: 40vw;
    border-radius: 15px;
    margin: 30px auto;

    box-shadow: 0px 0px 0px 0px black;
    background-color: rgb(255, 230, 230);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(216, 58, 58);
    overflow: hidden;

    padding-bottom: 20px;
}
.basicos .mat h2{
    font-size: 2rem;
    padding: 15px;
    width: 100%;
    background-color: rgb(105, 0, 0);
    border: 1px solid rgb(216, 58, 58);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}